<div class="mat-elevation-z8 trotinet-div" id="trotinet-div">
  <table mat-table [dataSource]="dataSource2">
    <!-- <ng-container matColumnDef="serijskiBroj">
      <th mat-header-cell *matHeaderCellDef> Serijski broj </th>
      <td mat-cell *matCellDef="let element"> {{element.serijskiBroj}} </td>
    </ng-container> -->

    <ng-container matColumnDef="maksimalnaBrzina">
      <th mat-header-cell *matHeaderCellDef> Maksimalna brzina </th>
      <td mat-cell *matCellDef="let element"> {{element.maksimalnaBrzina}} </td>
    </ng-container>

    <ng-container matColumnDef="datumNabavke">
      <th mat-header-cell *matHeaderCellDef> Datum nabavke </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.datumNabavke}} </td>
    </ng-container>

    <ng-container matColumnDef="cijenaNabavke">
      <th mat-header-cell *matHeaderCellDef> Cijena nabavke </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.cijenaNabavke}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="pokvareno">
      <th mat-header-cell *matHeaderCellDef> Pokvareno </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.pokvareno}} </td>
    </ng-container>

    <ng-container matColumnDef="iznajmljeno">
      <th mat-header-cell *matHeaderCellDef> Iznajmljeno </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.iznajmljeno}} </td>
    </ng-container>

    <ng-container matColumnDef="slika">
      <th mat-header-cell *matHeaderCellDef> Slika </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.slika}} </td>
    </ng-container>

    <ng-container matColumnDef="proizvodjac">
      <th mat-header-cell *matHeaderCellDef> Proizvodjac </th>
      <td mat-cell *matCellDef="let element" (click)="selectRow(element)"> {{element.proizvodjac}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [class.selected]="selection.isSelected(row)" (click)="selectRow(row)"></tr>
  </table>
  
    <mat-paginator [pageSizeOptions]="[5, 6, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <section>
      <div class="example-button-row">
        <button mat-raised-button (click)="prebaci()">Dodaj novi trotinet</button>
        <button mat-raised-button [disabled]="selection.isEmpty()">Pogledaj detalje</button>
        <button mat-raised-button [disabled]="selection.isEmpty()">Izmijeni podatke</button>
        <button mat-raised-button [disabled]="selection.isEmpty()">Obrisi</button>
      </div>
    </section>
  </div>

  <div class="dodaj-trotinet" id="dodaj-trotinet-id">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="forma-unos">
      <mat-form-field class="example-full-width">
        <mat-label>Serijski broj</mat-label>
        <input matInput placeholder="12345A678" id="uuid" name="uuids" [(ngModel)]="serijskiBroj" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Datum nabavke</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="datumNabavke" name="datumNabavke" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cijena vozila</mat-label>
        <input type="number" matInput placeholder="1000.00" id="cijena" name="cijena" [(ngModel)]="cijena" min="0" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Model</mat-label>
        <input matInput placeholder="Model-A" id="model" name="model" [(ngModel)]="model" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Slika</mat-label>
        <input matInput placeholder="Slika" id="slika" name="slika" [(ngModel)]="slika">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Proizvodjac</mat-label>
        <mat-select  [(ngModel)]="proizvodjac" name="proizvodjac" required>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Maksimalna brzina</mat-label>
        <input type="number" matInput placeholder="100" id="brzina" name="brzina" min="0" [(ngModel)]="brzina">
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button type="submit">Kreiraj Trotinet</button>
        <button mat-raised-button (click)="ponisti()">Ponisti</button>
      </div>

    </form>
  </div>
  